{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    {% block title %}
    <div class="fondcontainer" style="margin-bottom: 2rem;">
        <h1 class="h1edit">Votre panier !</h1>
    </div>
    {% endblock %}
{% endblock %}

